/target
/classes
/checkouts
pom.xml
pom.xml.asc
pgmig.build_artifacts.txt
*.jar
*.iml
*.class
/.lein-*
/.clj-kondo
/.nrepl-port
.hgignore
.hg/
/.idea
/.lsp
/log
/.data
/.cdata
/.backup
/tgdata
.~lock.*
*.sw[op]
/pgmig
/reports
